* {
  box-sizing: border-box;
}

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.main-container .title {
  display: flex;
  flex-direction: row;
}

.title img {
  height: 5rem;
  width: 5rem;
  padding-right: 30px;
}

/* .main-container div {
  margin: 20px 20px;
} */

a {
  text-decoration-line: none;
margin: 1rem;
color: green;
font-weight: 600;
}


.active-link{
  color: #4FBDBA;
}

.card-list{
 width: auto;
 margin: 0 auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 20px;
}

.card{
  background-color: white;
  padding: 2rem;
}

.header{
  display: grid;
  grid-template-columns:2fr 1fr;
  align-items: center;
}

.App-nav {
  justify-content: space-around;
}

.home-image {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  justify-content: center;
  /* background-image: url('./images/photo-1487956382158-bb926046304a.jpg'); */
  background-repeat: no-repeat;
  z-index: -2;
}
